.title-container {
  text-align: center;
  border-radius: 10px;
  background-color: #e0a73d;
}

.title {
  padding: 20px;
  font-weight: bold;
}

input, button, .list-item, .message-container p {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: larger;
}

@media (min-width: 600px) {
  input {
    width: 17rem;
  }
}

button {
  background-color: #637eaa;
  color: white;
  border-color: transparent;
  text-transform: capitalize;
  cursor: pointer;
  margin: 10px;
}

form {
  text-align: center;
}

.list-item {
  text-align: center;
  background-color: #7eaa63;
  color: white;
}

.list-item-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.list-container,
.message-container {
  width: 18rem;
  margin: auto;
}

@media (min-width: 600px) {
  .list-container, .message-container {
    width: 24rem;
    margin: none;
  }
}

.message-container {
  background-color: crimson;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  visibility: hidden;
}

.show-message {
  visibility: visible;
}

.delete-btn {
  background-color: red;
  font-size: 0.75rem;
  height: 2rem;
  margin-top: 20px;
}

@media (min-width: 600px) {
  .container {
    display: flex;
    justify-content: center;
  }
  .days-container {
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
    text-align: justify;
  }
}

.days-container {
  text-align: center;
}
